div.customDatePicker {
    display: inline;
    margin-left: 5px;
    margin-right: 10px;
    > div {
        display: inline;
    }
}

div.react-datepicker__input-container {
    > input {
        width: 100px;
        text-align: center;
        border: solid 1px #ddd;
        border-radius: 4px;
    }
}
